In [5]:
!pip install pyngrok

Collecting pyngrok
  Downloading pyngrok-7.0.5-py3-none-any.whl.metadata (6.2 kB)
Requirement already satisfied: PyYAML in ./.venv/lib/python3.11/site-packages (from pyngrok) (6.0.1)
Downloading pyngrok-7.0.5-py3-none-any.whl (21 kB)
Installing collected packages: pyngrok
Successfully installed pyngrok-7.0.5

In [1]:
from pyngrok import ngrok
!ngrok authtoken 2ZjwOwRMWe1xdOQuhwti9eQTXBA_45bBvrKJqeZy7foGQgYWA
# Step 13: Start Streamlit in the background
get_ipython().system_raw('nohup streamlit run project/Main.py &')
# Use ngrok to create a public URL for the Streamlit app
ngrok_tunnel_streamlit = ngrok.connect(addr="8501", proto="http", bind_tls=True)
# Print the public URL for Streamlit app
print("Streamlit app can be accessed at:", ngrok_tunnel_streamlit.public_url)

Authtoken saved to configuration file: /home/user/.config/ngrok/ngrok.yml

Streamlit app can be accessed at: https://43b3-35-233-128-154.ngrok-free.app

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.17.0.4:8505
  External URL: http://35.233.128.154:8505

In [2]:
!pkill ngork

In [1]:
from sqlalchemy import create_engine
import pandas as pd
sqlite_file = 'test.sqlite'
engine = create_engine(f'sqlite:///{sqlite_file}')

In [37]:
query = 'SELECT * FROM map_insurence_hover_state;'
df = pd.read_sql(query, engine)
df

,year,quarter,state,districts_name,total_transactions_count,total_transactions_amount
0,2020,2,chandigarh,chandigarh district,149,29537.0
1,2020,3,chandigarh,chandigarh district,264,70969.0
2,2020,4,chandigarh,chandigarh district,200,153341.0
3,2021,1,chandigarh,chandigarh district,338,238576.0
4,2021,2,chandigarh,chandigarh district,378,310943.0
...,...,...,...,...,...,...
7918,2022,4,himachal-pradesh,kullu district,175,371574.0
7919,2022,4,himachal-pradesh,mandi district,310,725635.0
7920,2022,4,himachal-pradesh,lahul and spiti district,25,80169.0
7921,2022,4,himachal-pradesh,chamba district,249,459421.0
7922,2022,4,himachal-pradesh,kinnaur district,53,141751.0

In [34]:
cursor.execute("ALTER TABLE map_user_hover_state RENAME COLUMN 'state_name/ut_name' TO state;")
conn.commit()

In [9]:

cursor.execute("ALTER TABLE aggregated_transaction_state DROP COLUMN 'from_timestamp';")
conn.commit()

In [11]:
import sqlite3
# Connect to the SQLite database
conn = sqlite3.connect('test.sqlite')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute the SQL query to get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:")
for table in tables:
    print(table[0])

# # Close the cursor and connection
# cursor.close()
# conn.close()

Tables in the database:
aggregated_user_counry
map_transaction_hover_state
top_transaction_country
top_insurence_state
aggregated_transaction_state
map_user_hover_contry
map_insurence_hover_counry
agregated_user_state
map_user_hover_state
map_transaction_hover_counry
top_insurence_country
agregated_transaction_country
top_user_country
map_insurence_hover_state
agregated_insurence_country
aggregated_insurence_country
aggregated_insurence_state
top_user_state
top_transaction_state
top_insurance_state